<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/user.css}">
    <title>List User</title>
</head>
<body>
<h1>List User</h1>
<h3><a th:href="@{/user/new}">Create user</a></h3>
<table border="1" style="width: 100%" >
    <tr>
        <th style="width: 5%">STT</th>
        <th style="width: 30%">Name</th>
        <th style="width: 30%">Age</th>
        <th style="width: 30%">Address</th>
        <th style="width: 5%">Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${userStat.index + 1}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.address}"></td>
        <td><a th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a></td>
    </tr>
</table>
</body>
</html>